<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <th:block th:if="${session.member eq null}">
        <script>
            top.alert("로그인이 필요한 서비스입니다.");
            top.location.href = '/member/login';
        </script>
    </th:block>
    <th:block th:unless="${session.member eq null}">
        <button onclick="location.href = '/'">쿠팡</button>
        <div class="menu">
            <label><div>메뉴</div></label>
            <ul>
                <li><a href="#" class="item"><div>주문목록/배송조회</div></a></li>
                <li><a href="/user/rocketWow" class="item"><div>와우 멤버쉽</div></a></li>
                <li><a href="/user/coupon" class="item"><div>할인쿠폰</div></a></li>
                <li><a href="/user/editMyInfo" class="item"><div>개인정보 확인/수정</div></a></li>
                <li><a href="/user/showDList" class="item"><div>배송지 관리</div></a></li>
            </ul>
        </div>
    </th:block>
</body>
</html>